%table.table
  %tr
    %th= t(:leaderboard_position)
    %th= t(:player_name)
    %th= t(:games_played)
    %th= t(:wins_by_side)
    %th= t(:participation_points) if participation_points_active?
    %th= t(:achievement_points) if achievement_points_active?
    %th= t(:leaderboard_points)
  - rows.each do |row|
    %tr
      %td= row.position
      %td= link_to row.player.name, player_path(row.player)
      %td= row.played
      %td= "#{row.corp_wins}/#{row.runner_wins}"
      %td= row.participation_points if participation_points_active?
      %td= row.achievement_points if achievement_points_active?
      %td= row.points
