%table.table
  %tr
    %th Position
    %th Name
    %th Played
    %th Wins (Corp/Runner)
    %th Points
  - @leaderboard.each do |row|
    %tr
      %td= row.position
      %td= row.player.name
      %td= row.played
      %td= "#{row.corp_wins}/#{row.runner_wins}"
      %td= row.points
