- if @content
  .row
    .col-xs-12
      = raw @content
- if @leaderboard.count > 0
  .row
    .col-xs-12
      = render "table", rows: @leaderboard
  .row
    .col-xs-12
      %h3= t(:recent_games)
      = render "games/list", games: @recent_games
- else
  .row
    .col-xs-12
      = t(:no_games)
