= form_for user, url: update_password_path do |f|
  .form-group
    = f.label :password, t(:password)
    = f.password_field :password, class: "form-control"
  .form-group
    = f.label :password_confirmation, t(:password_confirmation)
    = f.password_field :password_confirmation, class: "form-control"
  .form-group
    = button_tag class: ["btn", "btn-success"] do
      %span.glyphicon.glyphicon-pencil
      = t(:save_password)
