= form_for game, html: { class: ["form-horizontal", "game_form"] } do |f|
  .form-group
    = f.label :week, t(:game_week), class: ["col-sm-2", "control-label"]
    .col-sm-10
      = f.text_field :week, class: "form-control"
  .form-group
    = f.label :corp_id, t(:game_corp_player), class: ["col-sm-2", "control-label"]
    .col-sm-10
      = f.collection_select :corp_id, Player.all, :id, :name, { include_blank: t(:select_player) }, class: "form-control"
  .form-group
    = f.label :corp_id, t(:game_runner_player), class: ["col-sm-2", "control-label"]
    .col-sm-10
      = f.collection_select :runner_id, Player.all, :id, :name, { include_blank: t(:select_player) }, class: "form-control"
  .form-group
    = f.label :result, t(:game_result), class: ["col-sm-2", "control-label"]
    .col-sm-10
      = f.select :result, result_options, {}, class: "form-control"
  .panel.panel-default
    .panel-heading= t(:achievements)
    .panel-body
      .col-sm-6
        %h4
          %span.game_corp_name
          = "(#{t(:corp)})"
        .corp_achievements
        - corp_achievements.each do |ach|
          = render "achievement_field", ach: ach, game: game
      .col-sm-6
        %h4
          %span.game_runner_name
          = "(#{t(:runner)})"
        .runner_achievements
        - runner_achievements.each do |ach|
          = render "achievement_field", ach: ach, game: game
  = yield f if block_given?
  .form-group
    .col-sm-offset-2.col-sm-10
      = button_tag class: ["btn", "btn-success"] do
        %span.glyphicon.glyphicon-pencil
        = t(:save_game)
      %a.btn.btn-danger{ href: games_path }
        %span.glyphicon.glyphicon-remove
        = t(:cancel)
