%ul.nav.nav-pills
  %li
    = link_to root_path do
      %span.glyphicon.glyphicon-home
      = t(:home)
  %li
    = link_to achievements_path do
      %span.glyphicon.glyphicon-tasks
      = t(:achievements)
  %li
    = link_to rules_path do
      %span.glyphicon.glyphicon-list-alt
      = t(:rules)
  - if current_user
    %li.dropdown
      %a.dropdown-toggle{ "data-toggle" => :dropdown }
        %span.glyphicon.glyphicon-certificate
        = t(:admin)
      %ul.dropdown-menu
        %li
          = link_to players_path do
            %span.glyphicon.glyphicon-user
            = t(:manage_players)
        %li
          = link_to games_path do
            %span.glyphicon.glyphicon-knight
            = t(:manage_games)
        %li
          = link_to manage_achievements_path do
            %span.glyphicon.glyphicon-tasks
            = t(:manage_achievements)
        %li
          = link_to edit_league_path do
            %span.glyphicon.glyphicon-star
            = t(:edit_league)
        %li
          = link_to change_password_path do
            %span.glyphicon.glyphicon-lock
            = t(:change_password)
    %li.navbar-right
      = link_to logout_path do
        %span.glyphicon.glyphicon-eject
        = t(:log_out)
