!!!
%html
  %head
    %title Desperado
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .page-header
        %h1 Desperado
      - if current_user
        %ul.nav.nav-pills#user-nav
          %li
            %a{ href: logout_path } Log out
      - flash.each do |name, msg|
        = content_tag :p, msg, id: "flash#{name}", class: ["alert", "alert-warning"]
      = yield
    .panel.footer
      %a{ href: "https://github.com/muyjohno/desperado" }
        GitHub
      |
      %a{ href: login_path }
        Login
