!!!
%html
  %head
    %title Desperado
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      = render "layouts/navigation"
      .page-header
        %h1 Desperado
      - flash.each do |name, msg|
        = content_tag :p, msg, id: "flash#{name}", class: ["alert", "alert-warning"]
      = yield
    .panel.footer
      Powered by
      %a{ href: "https://github.com/muyjohno/desperado", target: "_blank" }
        Desperado
      - unless current_user
        |
        %a{ href: login_path }
          = t(:log_in)
