!!!
%html
  %head
    %title= @league.display_name
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      = render "layouts/navigation"
      .page-header
        %h1= @league.display_name
      - flash.each do |name, msg|
        %p{ id: "flash#{name}", class: ["alert", "alert-warning", "alert-dismissible"] }
          = msg
          %button.close{ "data-dismiss" => :alert } &times;
      = yield
    .panel.footer
      Powered by
      %a{ href: "https://github.com/muyjohno/desperado", target: "_blank" }
        Desperado
      - unless current_user
        |
        %a{ href: login_path }
          = t(:log_in)
